.spreadNav {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 33px;
    color: white;
}

.navColor {
    background-color: rgb(170, 0, 0);
    margin-top: -1%;
    margin-bottom: -1%;
}

.aotLogo {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 50px;
    width: 250px;
}

.levelDown {
    margin-top: 218px;
}

.page2LevelDown {
    margin-top: 96px;
}

.page2Img {
    width: 567px;
    margin-left: 100px;
}

p {
    font-size: 24px;
    color: white;
}

.page1Font {
    font-size: 30px;
    color: white;
}

.moveLeft {
    padding-left: 85px;
}

.erenImg {
    width: 410px;
}

.imgSize {
    width: 90%;

}

body {
    background-color: rgb(25, 25, 25);
}

h1,
h2 {
    color: white;
}

.highlight {
    background-color: rgba(0, 0, 0, .5);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70%;
    font-size: 64px;
    font-weight: 300;
}


.highlight2 {
    background-color: rgba(0, 0, 0, .5);
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-bottom: 5%;
    font-size: 48px;
    font-weight: 300;
}

.backgroundNav {
    background-color: red;
    margin-top: -1;
}